i {
    font-size: 1.2em;
    margin: 7px;
}

button {
    margin-top: -0.6%;
    margin-left: 5px;

}

.row {
    display: flex;
}

.col-3 {
    margin-top: 30px;
}

h4,
h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

@media (min-width: 360px) and (max-width: 768px) {
    h4 {
        font-size: 20px;

    }

    p {
        font-size: 14px;
    }
}