<div class="container">

    <h4 class="fw-normal mt-3">{{usuario.nombre}} {{usuario.apellidos}}</h4>


    <div class="row">
        <p> <i class="fa-regular fa-envelope"></i> {{usuario.email}}
        </p>
        <p><i class="fa-regular fa-address-card"></i>{{usuario.dni}}</p>
        <p><i class="fa-solid fa-phone"></i> {{usuario.telefono}}</p>
        <p><i class="fa-regular fa-calendar"></i> Fecha de alta: {{usuario.fecha_alta | date: "dd-MM-YYYY"}}</p>
        <p><i class="fa-solid fa-pen-nib"></i> Departamento: {{usuario.departamento}}</p>
        <button class="btn  enviar" [routerLink]="['/usuarios', 'editar', usuario.id]">Editar</button>
    </div>


</div>