<div class="container">

    <h4>Registro de Horas</h4>

    <form class="row" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2 col-12">
            <label class="form-label">Seleccionar Proyecto:</label>
            <select value="select" class="form-control" formControlName="proyectos_id"
                placeholder="selecciona un proyecto">
                <label class="form-label">Fecha:</label>
                <option value="select" disabled selected>Selecciona un proyecto</option>
                <option *ngFor="let proyecto of proyectos" [value]="proyecto.id">{{ proyecto.nombre }}
                </option>
            </select>
        </div>
        <div class="form-group mb-2 col-12 horas">
            <input type="time" class="form-control mb-2" formControlName="hora_entrada">
            <button type="button" (click)="obtenerHoraEntrada()" class="btn btn-primary">Hora entrada</button>
        </div>
        <div class="form-group mb-2 col-12 horas">
            <input type="time" class="form-control mb-2" formControlName="hora_salida">
            <button type="button" (click)="obtenerHoraSalida()" class="btn btn-primary">Hora Salida</button>
        </div>
        <div class="form-group mb-2 col-12">
            <input type="date" class="form-control date" formControlName="fecha">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12 enviar" [disabled]=" !registroForm.valid">Registrar
                Horas
            </button>
        </div>

    </form>
</div>