.horas {
    display: flex;
}

.horas input {
    width: 50%;
    margin-right: 5%;
}

.horas button {
    width: 45%;
}

h4,
h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.enviar {
    margin-top: 9.5px;
}

@media (min-width: 360px) and (max-width: 768px) {
    .horas {
        display: flex;
        flex-direction: column;

    }

    .horas button {
        width: 100%;
        margin-top: 2.5px;
        font-size: 12px;

    }

    h4 {
        font-size: 17px;
    }

    .date {
        padding: 0 8px 0 0;
    }


}