.horas {
    display: flex;
}

.horas input {
    width: 50%;
    margin-right: 5%;
}

.horas button {
    width: 45%;
}

.enviar {
    margin-top: 10px;
}

.btn {
    background-color: rgb(84, 153, 199);

}

.btn:hover {
    background-color: rgb(41, 128, 185);
}

.card {
    padding: 2% 3%;
}


h4,
h2 {
    color: rgb(84, 153, 199);
    border-bottom: 2px solid rgb(84, 153, 199);
    padding-bottom: 5px;
    margin-bottom: 20px;
}