section {
    height: 100vh;
}

.btn {
    width: 100%;
    background-color: rgb(84, 153, 199);
}

.btn:hover {
    background-color: rgb(41, 128, 185);
}


form {
    padding: 20px;
}

.container {
    height: 50vh;
    background-color: transparent;
    padding-top: 20px;


}


h4,
h2 {
    color: rgb(84, 153, 199);
    border-bottom: 2px solid rgb(84, 153, 199);
    padding-bottom: 5px;
    margin: 20px !important;
}