.selectores {
    display: flex;
    justify-content: stretch;
    margin-bottom: 2%;
}

h4,
h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.controlHoras {
    max-width: 100%;
    margin: 1%
}


.cool-btn {
    background-color: rgb(84, 153, 199);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cool-btn:hover {
    background-color: #0056b3;
}

.cool-success {
    background-color: #d4edda;
    color: #155724;
}

.cool-warning {
    background-color: #fff3cd;
    color: #856404;
}

.cool-error {
    background-color: #f8d7da;
    color: #721c24;
}


@media (min-width: 360px) and (max-width: 768px) {
    .selectores {
        flex-direction: column;
        align-items: center;
    }

    .controlHoras {
        flex-direction: column;
    }

    .barras,
    .notificaciones {
        width: 100%;
    }

    .card-header,
    .card-body {
        text-align: center;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .cool-btn {
        width: 100%;
    }

    .barras {
        margin-bottom: -200px;

    }

    .notificaciones {
        margin-top: 10px;

    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .selectores {
        flex-direction: column;
        align-items: center;
    }

    .controlHoras {
        flex-direction: column;
    }

    .barras,
    .notificaciones {
        width: 100%;
    }

    .card-header,
    .card-body {
        text-align: center;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .cool-btn {
        width: 100%;
    }

    .barras {
        margin-bottom: 0px;

    }

    .notificaciones {
        margin-top: 10px;

    }
}