.selectores {
    display: flex;
    justify-content: stretch;
    margin-bottom: 2%;
}

h4,
h2 {
    color: rgb(84, 153, 199);
    border-bottom: 2px solid rgb(84, 153, 199);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.controlHoras {
    max-width: 100%;
    margin: .1%;
}

.btn {
    background-color: rgb(84, 153, 199);

}

.btn:hover {
    background-color: rgb(41, 128, 185);
}


.cool-btn {
    background-color: rgb(84, 153, 199);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cool-btn:hover {
    background-color: #0056b3;
}

.cool-success {
    background-color: #d4edda;
    color: #155724;
}

.cool-warning {
    background-color: #fff3cd;
    color: #856404;
}

.cool-error {
    background-color: #f8d7da;
    color: #721c24;
}