section {
    min-height: 100vh;
}

input.ng-valid.ng-touched {
    border: 2px solid green;
}


input.ng-invalid.ng-touched {
    border: 2px solid hotpink;
}

.error {
    color: hotpink;
}

form {
    padding: 15px;
    color: black;
}

h4,
h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin: 20px !important;
}