section {
    min-height: 100vh;
    opacity: 1.5;
}

input.ng-valid.ng-touched {
    border: 2px solid green;
}


input.ng-invalid.ng-touched {
    border: 2px solid hotpink;
}

.error {
    color: hotpink;
}

form {
    padding: 15px;
    background-color: white;
    color: black;
    opacity: .7;
}