<section [ngClass]="{'dark-mode': darkMode, 'light-mode': !darkMode }">
    <div class="container">
        <table class="custom-table">
            <thead>
                <tr class="table-header">
                    <th>Usuario Id</th>
                    <th>Nombre y apellidos</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Telefono</th>
                    <th>Fecha de alta</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>
                        <div class="cell-description">ID</div>
                        {{usuario.id}}
                    </td>
                    <td>
                        <div class="cell-description">Nombre y apellidos</div>
                        {{usuario.nombre}} {{usuario.apellidos}}
                    </td>
                    <td>
                        <div class="cell-description">Email</div>
                        {{usuario.email}}
                    </td>
                    <td>
                        <div class="cell-description">DNI</div>
                        {{usuario.dni}}
                    </td>
                    <td>
                        <div class="cell-description">Teléfono</div>
                        {{usuario.telefono}}
                    </td>
                    <td>
                        <div class="cell-description">Fecha de alta</div>
                        {{usuario.fecha_alta | date: "dd-MM-YYYY"}}
                    </td>
                    <td>
                        <div class="cell-description">Departamento</div>
                        {{usuario.departamento}}
                    </td>
                    <td>
                        <button class="edit-button" [routerLink]="['/admin', 'editar', usuario.id]">Editar</button>
                        <button class="delete-button" (click)="borrarUser(usuario.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>