<section [ngClass]="{'dark-mode':darkMode}">
    <div class="container">
        <div class="card cardselect">
            <table class="table -responsive">
                <thead>
                    <tr>
                        <th>Usuario Id</th>
                        <th>Nombre y apellidos</th>
                        <th>Email</th>
                        <th>DNI</th>
                        <th>Telefono</th>
                        <th>Fecha de alta</th>
                        <th>Departamento</th>
                        <div class="botones">
                            <th>Editar</th>
                            <th>Borrar</th>
                        </div>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}} {{usuario.apellidos}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.fecha_alta | date: "dd-MM-YYYY"}}</td>
                        <td>{{usuario.departamento}}</td>
                        <div class="botones">
                            <td>
                                <button class="btn btn-primary"
                                    [routerLink]="['/admin', 'editar', usuario.id]">Editar</button>
                            </td>

                            <td>
                                <button class="btn btn-danger ms-2" (click)="borrarUser(usuario.id)">Borrar</button>
                            </td>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>