section {
    background: url(../../../../assets/images/fondo_login.jpg) no-repeat;
    background-size: cover;
    background-position: 25% 30%;
    min-height: 100vh;
    color: aliceblue;
    padding: 5px;
}

section form {
    margin: 10% auto;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1.25em;
}

section h2 {
    font-family: 'VT323', monospace;
    font-size: 55px;
}

section .password-img {
    position: relative;
}

section .fa-solid {
    position: absolute;
    cursor: pointer;
    color: #171836;
    right: 3%;
    top: 35%;
}

section .copyright {
    font-family: 'VT323', monospace;
}


input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.error {
    color: red;
}

@media(min-width:720px) {
    section form {

        width: 25%;

    }
}