 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: url(../src/assets/images/fondo_dia.jpeg) no-repeat;
     background-size: cover;
     color: black;

 }

 .dark-mode {
     background: url(../src/assets/images/fondo_noche.jpeg) no-repeat;
     background-size: cover;
     color: antiquewhite;
 }